/* Editar recorte de imagen en cards, scale-down ajusta el contenido en vez de estirar */
.card-img-top {    
    height: 50vh;
    object-fit: scale-down;
}

/* Añadimos 5px al margen inferior en las barras de progreso */
.progress{
    margin-bottom: 5px;
}